@page
@model MarkdownPageModel
@{
    ViewBag.Title = "";
    ViewBag.Description = "";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

@section Scripts {
    <script src="~/js/pages/index.js"></script>
}

@section Header {

	<a class="logo" href="/"></a>
	<h6 style="margin-top: -8em; text-shadow: 0px 4px black;">Retro and modern gaming on modern displays</h6>

	<a id="scroller" href="#mission"><span></span></a>

}

<section id="mission">

   	@Model.GetSection("intro")

</section>

<section id="challenges">

	<article id="choosing-a-display">

		@Model.GetSection("choosing-a-display")

	</article>

	<article id="connectivity">

		@Model.GetSection("connectivity")

	</article>

	<article id="upscalers">

		@Model.GetSection("upscalers")

	</article>

	<article id="switches">

		@Model.GetSection("switches")

	</article>

</section>

<section id="consoles">

	@Model.GetSection("consoles")

</section>

<section id="thanks">

	@Model.GetSection("thanks")

</section>